@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="home-heading">
        <h2 class="heading-secondary">Myst Hairdressing</h2>
        <h3 class="heading-tertiary">feel beautiful</h3>
    </div>

    <div class="home-cover">
        <img src="/img/cover-2.jpeg" alt="cover" class="home-cover-img"/>
    </div>
</div>
