:root {
  --color-primary-light: #FADCD9;
  --color-primary: #F8AFA6;
  --color-primary-dark: #F79489;
  --color-primary-darker: #f46959;

  --color-secondary-light: #fff;
  --color-secondary: #f9f1f0;
  --color-secondary-dark: #eacfcc;

  --color-tertiary-light: #ecefed;
  --color-tertiary: #fbf4f3;

  --color-fourth-lightest: #e1e4f4;
  --color-fourth-lighter: #cbd1f4;
  --color-fourth-light:#bcc4f4;
  --color-fourth: #97a7f4;
  --color-fourth-dark: #748cf4;
  --color-fourth-darkest: #4565f0;

  --color-grey-lighter:#f8f9fa;
  --color-grey-light: #e9ecef;
  --color-grey: #dee2e6;
  --color-grey-dark: #ced4da;
  --color-grey-darker: #adb5bd;

  --color-black-light: #6c757d;
  --color-black: #495057;
  --color-black-dark: #343a40;
  --color-black-darker: #212529;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: var(--color-black-darker);
}

body {
  background-color: var(--color-tertiary-light);
  font-family: 'Poppins', serif;
  font-weight: 400;
}

::selection {
  color: var(--color-grey-lighter);
  background-color: var(--color-fourth-dark);
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-black-darker);
  font-weight: 500;
  letter-spacing: 0.13rem;
  transition: all .2s;

  &:hover,
  &:active {
    color: var(--color-fourth-dark);
  }
}

table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  width: 80%;
  text-transform: uppercase;
  font-size: 1.5rem;
  table-layout: fixed;
  border-collapse: collapse;
  justify-self: center;

  &.no-border {
    border: none;
  }

  &.full-width {
    width: 100%;
  }
}

td {
  border: 1px solid var(--color-grey-dark);
  padding: 0.8rem;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
}

th {
  letter-spacing: .2rem;
  color: var(--color-grey-light);
}

thead th {
  width: 25%;
  background-color: var(--color-fourth);
  transition: all .3s;
  padding: 1rem;

  &:hover {
    background-color: var(--color-fourth-dark);
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-tertiary-light);
  border-radius: 5px;
  width: 20rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:stretch;
}

.dropdown-btn  {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-black-darker);
  font-weight: 500;
  letter-spacing: 0.13rem;
  border: none;
  font-family: 'Poppins', serif;
  transition: all .2s;

  &:hover,
  &:active {
    color: var(--color-fourth-dark);
  }
}

