.heading-primary {
  font-weight: 500;
  font-size: 3.5rem;
  color: var(--color-fourth-dark);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all .4s;
  cursor: default;

  &:hover {
    color: var(--color-fourth-darkest);
  }
}

.heading-secondary {
  font-size: 7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  cursor: default;
  transition: all .3s;

  &:hover {
    color: var(--color-fourth-dark);
    transform: scale(1.001);
  }

  &.lighter {
    font-weight: 500;
    font-size: 3rem;
    color: var(--color-fourth-dark);
  }

  &.big {
    font-size: 3rem;
    text-transform: uppercase;
  }
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 4.7rem;
  text-transform: uppercase;
}

.heading-fourth {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5rem;

  &.colored {
    color: var(--color-fourth-dark);
  }
}

.heading-fifth {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 500;
  color: var(--color-fourth-dark);
  cursor: default;
  transition: all .3s;

  &:hover {
    color: var(--color-fourth-darkest);
  }
}

.heading-sixth {
  font-size: 2rem;

  &.dark {
    color: var(--color-fourth-darkest);
  }
}

.heading-seventh {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.paragraph {
  font-size: 1.4rem;
  color: var(--color-black);

  &.big {
    font-size: 1.6rem;
  }

  &.bold {
    font-weight: 700;
    color: var(--color-fourth-dark);
  }

  &.title {
    font-weight: 700;
    font-size: 2.3rem;
    color: var(--color-fourth-dark);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all .2s;
    cursor: default;
    letter-spacing: 0.3;

    &:hover {
      color: var(--color-fourth-darkest);
      transform: translateY(-0.2rem);
      text-shadow: 0px 2px 2px rgba(0,0,0,0.23);
    }
  }

}

.modal-paragraph {
  font-size: 1.6rem;
  color: var(--color-black);
}