.u-margin-bottom-2 {
  margin-bottom: 2rem;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-top-3 {
  margin-top: 3rem;
}

.u-margin-top-5 {
  margin-top: 5rem;
}

.u-margin-top-10 {
  margin-top: 5rem;
}


.u-center-text {
  text-align: center;
}

.u-margin-left-2 {
  margin-left: 2rem;
}

.u-border-top {
  border-top: 1px solid var(--color-grey-dark);
  width: 40%;
}

.u-border-bottom {
  border-bottom: 1px solid var(--color-grey-dark);
  width: 40%;
}