<div class="section-register">
  <div class="register-content">
    <form asp-action="register" method="post" class="register-form">
      <img src="/img/picpeople.png" alt="register-logo" class="register-logo" />
      <div class="register-form-group">
        <label class="register-form-label"> First Name </label>
        <input class="register-form-input" type="text" />
      </div>
      <div class="register-form-group">
        <label class="register-form-label"> Last Name </label>
        <input class="register-form-input" type="text" />
      </div>
      <div class="register-form-group">
        <label class="register-form-label"> Username </label>
        <input class="register-form-input" type="text" />
      </div>
      <div class="register-form-group">
        <label class="register-form-label"> Password </label>
        <input class="register-form-input" type="password" />
      </div>
      <div class="register-form-group">
        <button type="submit" class="btn btn-outlined">Sign Up</button>
      </div>
    </form>
  </div>
</div>