@model List<Entities.Models.Process>

  <div class="processes-header">
    <h2 class="heading-secondary"> Processes </h2>
  </div>
<div class="section-processes">
  @foreach (var process in Model)
  {
    <div class="process-card u-margin-bottom-2">
      <div class="process-card-header">
        <img src="/img/square-heart.png" alt="icon" class="process-card-icon" />
      </div>
      <div class="process-card-title u-margin-bottom-small">
        <p class="paragraph big title"> @process.Name</p>
      </div>
      <div class="process-card-content u-margin-bottom-small">
        <div class="process-card-description">
          <p class="paragraph big bold card-data"> Established Time:</p>
          <p class="paragraph big"> @process.Time</p>
          <p class="paragraph big bold card-data">Price: </p>
          <p class="paragraph big">@process.Price₺</p>
        </div>
      </div>
      <div class="process-card-button">
        <form asp-controller="Process" asp-action="ViewWorkers" method="get">
          <input type="hidden" name="processId" value="@process.Id" />
          <button type="submit" class="btn btn-card">View Workers</button>
        </form>
      </div>
    </div>
  }
</div>
</div>
