@using Entities.Models
@model List<Worker>

<div class="section-appointments">
  <h2 class="heading-fifth"> Avaliable Workers </h2>
  <div class="appointment-display">
    @foreach (var worker in Model)
    {
      <div class="appointment-box">
        <h6 class="heading-sixth"> @worker.Name @worker.Surname</h6>
      </div>
    }
  </div>
</div>
