.home {
  display: grid;
  grid-template-columns: max-content min-content;
  align-items: center;
  justify-content: space-around;
}

.home-heading {

}

.home-cover {

}

.home-cover-img {
  max-height: 70rem;
}