@model IEnumerable<Entities.Models.Profession>

<div class="section-services">
    <h2 class="heading-services">Our Services</h2>
    <div class="profession-cards">
        @foreach (var profession in Model)
        {
            <div class="card-item">
                @await Component.InvokeAsync("Card", new HairdresserApp.Models.CardModel
       {
           Title = profession.Name,
           Description = "Explore our skilled professionals in " + profession.Name + ".",
           ImageUrl = "/img/profession_" + profession.Id + ".png",
           AspController = "Worker",
           AspAction = "Index",
           ProfessionId = profession.Id,
           ButtonText = "View Workers"
       })
            </div>

        }
    </div>
</div>
