@model IEnumerable<Entities.Models.Profession>

<div class="section-services">
    <h2 class="heading-service">Our Services</h2>

    <div class="section-item">
        @foreach (var profession in Model)
        {
            <div class="card-item">
                @await Component.InvokeAsync("Card", new HairdresserApp.Models.CardModel
       {
           Title = profession.Name,
           Description = "Explore our skilled professionals in " + profession.Name + ".",
           ImageUrl = "/img/p-" + profession.Id + ".png",
           AspController = "Process",
           AspAction = "GetProcessesByProfession",
           ProfessionId = profession.Id,
           ButtonText = "View Details",
           Time = "Estimated Time: " + profession.Time + " minutes"
       })
            </div>

        }

    </div>

</div>
