@model IEnumerable<Entities.Models.Profession>

<div class="section-services">
    <div class="heading-services">
        <h2 class="heading-service u-margin-bottom-2">Our Services</h2>
        <p class="paragraph desc">The times and prices shown on our site for our services are fixed prices, and additional charges may be made depending on the type of transaction applied. If you have any problems, please contact us.</p>
    </div>


    <div class="section-item">
        @foreach (var profession in Model)
        {
            <div class="card-item">
                @await Component.InvokeAsync("Card", new HairdresserApp.Models.CardModel
       {
           Title = profession.Name,
           Description = profession.Description,
           ImageUrl = "/img/p-" + profession.Id + ".png",
           AspController = "Process",
           AspAction = "GetProcessesByProfession",
           ProfessionId = profession.Id,
           ButtonText = "View Details"
       })
            </div>

        }

    </div>

</div>