@model LoginViewModel

<div class="section-login">
  <div class="section-cover">
    <img src="/img/cover-3.jpeg" alt="cover-3" class="section-cover-img" />
  </div>
  <div class="login-content">
    <div class="login-message">
      <h4 class="heading-seventh">@TempData["msj"]</h4>
    </div>
    <form asp-action="Login" method="post" class="login-form">
      <img src="/img/picpeople-filled.png" alt="login-logo" class="login-logo" />
      <div class="login-form-group">
        <label asp-for="Email" class="login-form-label"></label>
        <input asp-for="Email" class="login-form-input" type="text" />
      </div>
      <div class="login-form-group">
        <label asp-for="Password" class="login-form-label"> Password </label>
        <input asp-for="Password" class="login-form-input" type="password" />
      </div>
      <div class="form-check">
        <input asp-for="RememberMe" class="form-check-input" type="checkbox" />
        <label asp-for="RememberMe" class="form-check-label"></label>
      </div>
      <div class="login-form-group">
        <button asp-controller="Account" asp-action="Login" type="submit" class="btn btn-primary">Sign In</button>
      </div>
      <div class="login-form-group">
        <label class="login-form-label">Don't have an account? Create one!</label>
        <button type="submit" class="btn btn-primary" asp-controller="Register" asp-action="Index">Sign Up</button>
      </div>
    </form>
  </div>
</div>