.section-services {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.section-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  grid-row: 2 /span 1;
  grid-column: 1 / -1;
  align-items: center;
}


.card-item {
  width: 50%;
  padding: 1.5rem;
}

.heading-services {
  text-align: left;
}

.heading-service {
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-fourth-dark);
  letter-spacing: 1rem;
  transition: all .2s;

  &:hover {
    color: var(--color-fourth-darkest);
    transform: scale(1.01);
  }
}