.section-services {
  display: grid;
  grid-template-columns: minmax(min-content, 50%) minmax(50rem, 70%);
  grid-template-rows: min-content 1fr;
  justify-items: center;
  margin-top: 1rem;
  height: auto;
}

.section-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  grid-row: 1 /-1;
  grid-column: 2 / -1;
}

@media (max-width: 1600px) {
  .section-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services-desc {
    display: none;
  }
}

.card-item {
  width: 100%;
  padding: 0 1.5rem; 
}


.heading-services {
  text-align: center;
  grid-column: 1 / span 1;
  grid-row:  1 / -1;
  padding: 3rem;
  justify-self: center;
  align-self: center;
  margin-top: -4rem;
}

.heading-service {
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-fourth-dark);
  letter-spacing: 1rem;
  transition: all .2s;

  &:hover {
    color: var(--color-fourth-darkest);
    transform: scale(1.01);
  }
}